@tailwind base;
@tailwind components;
@tailwind utilities;



input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  background-color: white !important;
  color: #000 !important;
}


.dark input:-webkit-autofill,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1a1a1a inset !important;
  box-shadow: 0 0 0 1000px #1a1a1a inset !important;
  background-color: #1a1a1a !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  border: none !important;
}

.dark input,
.dark input:focus,
.dark input:active {
  background-color: #1a1a1a !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  border: none !important;
}


